@model List<Lppa.UI.Website.Models.ClienteModel>

@{
    ViewBag.Title = "Listado de Clientes";
}

<h2>Listado de Clientes</h2>


<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
           Apellido
        </th>
        <th>
            CUIT
        </th>
        <th>
            FechaNacimiento
        </th>
        <th>
            Domicilio
        </th>
        <th>
            Telefono
        </th>
        <th>
            Email
        </th>
        <th>
            EstadoCivil
        </th>
        <th>
           IngresoMensual
        </th>
        <th>
            Sexo
        </th>
        <th>
            SituacionLaboral
        </th>
        <th>
            NombreConyuge
        </th>
        <th>
            ApellidoConyuge
        </th>
        <th>
            DNIAdicional
        </th>
        <th>
           Nombre2
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUIT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Domicilio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoCivil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IngresoMensual)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SituacionLaboral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreConyuge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoConyuge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DNIAdicional)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DNIAdicional)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DNI }) |
            @Html.ActionLink("Details", "Details", new { id=item.DNI }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DNI })
        </td>
    </tr>
}

</table>


