@model IEnumerable<Lppa.Data.ClienteTitular>

@{
    ViewBag.Title = "Listado de Clientes";
}

<h2>Listado de Clientes</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUIT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Domicilio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IngresoMensual)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SituacionLaboral)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreConyuge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoConyuge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DNIAdicional)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClienteTitular2.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUIT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Domicilio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoCivil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IngresoMensual)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SituacionLaboral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreConyuge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoConyuge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DNIAdicional)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClienteTitular2.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DNI }) |
            @Html.ActionLink("Details", "Details", new { id=item.DNI }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DNI })
        </td>
    </tr>
}

</table>
