@model List<Lppa.UI.Website.Models.TarjetaModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            Numero
        </th>
        <th>
            Marca
        </th>
        <th>
            Saldo Maximo
        <th>
            Tipo
        </th>
        <th>
           Estado
        </th>
        
  
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroTarjeta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaldoMaximo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        

        
     
    </tr>
}

</table>
