@{
    ViewBag.Title = "SolicitarTarjeta";
}

<html>
<head>
    <script src="~/Scripts/Validaciones.js"></script>
    <script src="~/Scripts/enviar.js"></script>
</head>
<body>
    <!--Ver esto del FORM -->
    <form action="/Home/Solicitud" method="post">
    <div class="container">
        <br>
        <div class="row">
            <div class="col-sm-6">
                <label for="apellidoTitular">Apellido:</label>
                @Html.TextBox("apellidoTitular", null, new { placeholder = "Apellido Titular", @class = "form-control" , required = "required" })                                
            </div>
            <div class="col-sm-6">
                <label for="nombreTitular">Nombre:</label>
                @Html.TextBox("nombreTitular", null, new { placeholder = "Nombre Titular", @class = "form-control", required = "required" })                                
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-sm-6">
                <label for="fechaNacimiento">Fecha Nacimiento:</label>
                @Html.TextBox("fechaNacimiento", null, new { placeholder = "DD/MM/AAAA", @type = "date", @class = "form-control", required = "required" })              
            </div>
            <div class="col-sm-6">
                <label for="sexo">Sexo:</label>
                <select class="form-control" id="sexo">
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                </select>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-sm-6">
                <label for="numeroDocumento">Nro Documento:</label>
                @Html.TextBox("numeroDocumento",  null, new { placeholder = "Sin puntos(.)", @type = "number", @class = "form-control", required = "required" })                
            </div>
            <div class="col-sm-6">
                <label for="cuilCuit">CUIL/CUIT:</label>
                @Html.TextBox("cuilCuit", null, new { placeholder = "Sin guiones(-)", @type = "number", @class = "form-control", required = "required" })                
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-sm-6">
                <label for="estadoCivil">Estado Civil:</label>
                <select class="form-control" id="estadoCivil">
                    <option value="Soltero">Soltero/a</option>
                    <option value="Casado">Casado/a</option>
                    <option value="Divorciado">Divorciado/a</option>
                    <option value="Viudo">Viudo/a</option>
                </select>
            </div>
            <div class="col-sm-6">
                <label for="domicilioTitular">Domicilio:</label>
                @Html.TextBox("domicilioTitular", null, new { placeholder = "",  @class = "form-control", required = "required" })                
            </div>
        </div>
       

        <br>
        <div class="row">
            <div class="col-sm-6">
                <label for="numeroTelefono">Numero Telefono:</label>
                @Html.TextBox("numeroTelefono", null, new { placeholder = "53530202", @type = "number", @class = "form-control", required = "required" })
            </div>
            <div class="col-sm-6">
                <label for="situacionLaboral">Situacion Laboral:</label>
                <input type="text" class="form-control" id="situacionLaboral">
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-sm-6">
                <label for="ingresos">Ingresos Mensuales:</label>
                @Html.TextBox("ingresos", null, new { placeholder = "Aproximados", @type = "number", @class = "form-control", required = "required" })                
            </div>
            <div class="col-sm-6">                
                <label for="cTipoTarjeta">Tipo Tarjeta:</label>
                <select class="form-control" id="cTipoTarjeta">
                    <option value="Amex">American Express</option>
                    <option value="Visa">Master Card</option>
                    <option value="Master">Visa</option>
                </select>
            </div>                      
        </div>

        <div id="mostrarDatosConyuge" class="collapse">
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <label for="apellidoConyuge">Apellido Conyuge:</label>
                    @Html.TextBox("apellidoConyuge", null, new { placeholder = "Apellido Conyuge", @class = "form-control" })                                        
                </div>
                <div class="col-sm-6">
                    <label for="nombreConyuge">Nombre Conyuge:</label>
                    @Html.TextBox("nombreConyuge", null, new { placeholder = "Nombre Conyuge", @class = "form-control" })                    
                </div>
            </div>

            <br>
            <div class="row">   
                <div class="col-sm-6">
                    <label for="numeroDocumentoCon">Nro Documento:</label>
                    @Html.TextBox("numeroDocumentoCon", null, new { placeholder = "Sin puntos(.)", @type = "number", @class = "form-control"})
                </div>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-sm-6">
                <button type="button" class="btn btn-info" onclick="validarCasado(estadoCivil.value);">Agregar Conyuge</button>
            </div>
            <div class="col-sm-6">
                <input type="submit" class="btn btn-success" value="Confirmar">
            </div>
        </div>
    </div>
  </form>
</body>
</html>